@import "./account.variable.scss";

/* Portrait */
@media (orientation: portrait) and (max-width: 414px) {
  .account-vue {
    width: 97%;

    .input-group-prepend {
      .fa-base {
        font-size: 10px;
      }
    }

    .fp-slidesNav {
      top: -18vh;
      display: block;
      position: relative;

      ul li a span {
        background: $default-input-border-color;
      }
    }

    .fp-controlArrow.fp-prev {
      left: -1px;
      opacity: 1;
      border-width: 14.5px 10px 14.5px 0;
    }

    .fp-controlArrow.fp-next {
      right: -1px;
      opacity: 1;
      border-width: 14.5px 0 14.5px 10px;
    }

    .form-control {
      height: 2rem;
    }

    .form-group {
      margin-bottom: 0.5rem;
    }

    .split {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      .split-half-right {
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 1%;
        width: 50%;
      }

      .split-half-left {
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 1%;
        width: 50%;
      }

      .split-half-flush {
        font-size: 0.75rem;

        a {
          color: $default-control-label-color;

          &:hover {
            color: $default-hover-color;
          }
        }
      }

      .split-for-cb {
        width: 13%;
      }

      .split-for-label {
        width: 87%;
      }
    }

    .footer-vue {
      margin: auto;

      .social small {
        padding-right: unset;
      }
    }

  }

  .account {
    width: 95%;
  }

  .info {
    width: 95%;
    margin-top: -1vh;
    bottom: 10px;
    margin-left: 10%;
    font-size: 0.65rem;

    .info-list {
      padding: 0;
      margin: 0;
      max-height: 300px;
    }
  }

  .account-header {
    width: 90%;
    margin-top: -35vh;
    min-height: calc(20vh - 115px);

    .login,
    .reset {
      letter-spacing: 0.875rem;
    }

    .forgot-password,
    .change-password {
      letter-spacing: 0.575rem;
    }

    .title {
      font-weight: 600;

      .heading {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2;
      }

      p {
        padding-bottom: 1%;
        font-size: 0.775rem;
        letter-spacing: 0.1rem;
      }
    }
  }

  .account-body {
    width: 90%;

    .content {
      padding: 2%;
      padding-bottom: 1%;
    }

    .text-muted small {
      min-width: 100%;
      font-size: 0.5rem;
    }
  }

  .account-footer {
    width: 90%;
  }

}

@media (height: 568px) and (width: 320px) {

  .account-body {
    margin-top: 4vh;
    min-height: calc(30vh - 115px);
  }

  .account-footer {
    margin-top: 1vh;
    min-height: calc(15vh - 115px);
  }
}

@media (height: 667px) and (width: 375px) {
  .account-vue {
    margin-top: unset;
    min-height: calc(70vh - 115px);

    form input::-webkit-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::-moz-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input:-ms-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::-ms-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }
  }

  .account {
    margin-top: 13%;
    min-height: calc(70vh - 115px);
  }

  .account-header {
    margin-top: -57vh;

    .title {

      .heading {
        font-size: 1.5rem;
      }
    }
  }

  .footer-vue {
    ul.social-links li a {
      padding-bottom: 2px;
    }
  }
}

@media (min-height: 812px) and (width: 375px) {
  .account-vue {
    margin-top: unset;
    min-height: calc(70vh - 115px);

    .fp-slidesNav {
      top: -15vh;
    }

    form input::-webkit-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::-moz-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input:-ms-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::-ms-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }


  }

  .account {
    margin-top: 13%;
    min-height: calc(70vh - 115px);
  }

  .account-header {
    margin-top: -60vh;

    .title {
      .heading {
        font-size: 1.5rem;
      }
    }
  }

}

@media (height: 731px) and (width: 411px) {
  .account-vue {
    margin-top: unset;
    min-height: calc(70vh - 115px);

    form input::-webkit-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::-moz-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input:-ms-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::-ms-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

  }

  .account {
    margin-top: 13%;
    min-height: calc(70vh - 115px);
  }

  .account-header {
    margin-top: -58vh;

    .title {
      .heading {
        font-size: 1.5rem;
        line-height: 1.2;
      }
    }
  }

}

@media (height: 736px) and (width: 414px) {
  .account-vue {
    margin-top: unset;
    min-height: calc(70vh - 115px);

    .fp-controlArrow.fp-next {
      right: -1px;
      opacity: 1;
    }

    form input::-webkit-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::-moz-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input:-ms-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::-ms-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

  }

  .account {
    margin-top: 13%;
    min-height: calc(70vh - 115px);
  }

  .account-header {
    margin-top: -59vh;

    .title {

      .heading {
        font-size: 1.5rem;
        line-height: 1.2;
      }

    }
  }

  .footer-vue {
    ul.social-links li a {
      padding-bottom: 2px;
    }
  }
}

@media (min-height: 823px) and (max-width: 411px) {
  .account-vue {
    margin-top: unset;
    min-height: calc(70vh - 115px);

    form input::-webkit-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::-moz-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input:-ms-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::-ms-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

    form input::placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: x-small;
    }

  }

  .account {
    margin-top: 13%;
    min-height: calc(70vh - 115px);
  }

  .account-header {
    margin-top: -60vh;

    .title {

      .heading {
        font-size: 1.5rem;
        line-height: 1.2;
      }

    }
  }

}

/* landscape */
@media(orientation: landscape) and (max-height: 414px) {
  .account-vue {
    width: 100%;

    .input-group-prepend {
      .fa-base {
        font-size: 12px;
      }
    }

    .fp-slidesNav {
      display: none;
    }

    .fp-controlArrow.fp-prev {
      left: 1px;
      opacity: 1;
      border-width: 14.5px 10px 14.5px 0;
    }

    .fp-controlArrow.fp-next {
      right: 1px;
      opacity: 1;
      border-width: 14.5px 0 14.5px 10px;
    }

    .form-control {
      height: 1.3rem;
      padding: unset;

    }

    form input::-webkit-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: small;
    }

    form input::-moz-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: small;
    }

    form input:-ms-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: small;
    }

    form input::-ms-input-placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: small;
    }

    form input::placeholder {
      text-transform: uppercase;
      color: $default-control-label-color;
      font-size: small;
    }

    .form-group {
      margin-bottom: 0.5rem;
    }

    .instructions {
      .split {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .split-right {
          padding: 0;
          padding-left: 1%;
          width: 50%;
        }

        .split-left {
          padding: 0;
          padding-right: 1%;
          width: 50%;
        }
      }
    }

    .split {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      .split-half-right {
        padding-top: 2%;
        padding-bottom: 1%;
        padding-left: 1%;
        width: 50%;
      }

      .split-half-left {
        padding-top: 2%;
        padding-bottom: 1%;
        padding-right: 1%;
        width: 50%;
      }

      .split-half-flush {
        font-size: 0.75rem;

        a {
          color: $default-control-label-color;

          &:hover {
            color: $default-hover-color;
          }
        }
      }

      .split-for-cb {
        width: 13%;
      }

      .split-for-label {
        width: 87%;
      }
    }

    .submit {
      padding-left: 2%;
      padding-right: 2%;
      padding-top: 1%;

      button[type="submit"] {
        color: $default-white;
        background-color: $default-invalidated-color;
        padding: unset;
        font-size: small;
      }
    }

    .footer-vue {
      bottom: -5px;

      ul.social-links li a {
        padding-bottom: 1px;
      }
    }

    .register-vue {

      .account {
        margin-top: 15vh;
      }

      .account-header {
        width: 90%;
        margin-top: -37vh;
      }

      .fullpage {
        .footer-vue {
          bottom: unset;
          position: relative;
          z-index: 0;
          padding-right: 2%;
        }

      }
    }

    .header-wrapper {
      background: $fullpage-cover-color;
      top: unset;
      padding-top: 4px;
    }
  }

  .account {
    width: 95%;
    margin-top: 10vh;
    min-height: calc(70vh - 115px);

  }

  .info {
    width: 95%;
    margin-top: -1vh;
    bottom: 10px;
    margin-left: 10%;
    font-size: 0.65rem;

    .info-list {
      padding: 0;
      margin: 0;
      max-height: 300px;
    }
  }

  .account-header {
    width: 90%;
    margin-top: -40vh;
    min-height: calc(20vh - 115px);

    .login,
    .reset {
      letter-spacing: 0.875rem;
    }

    .forgot-password,
    .change-password {
      letter-spacing: 0.575rem;
    }

    .title {
      font-weight: 600;

      .heading {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2;
      }

      p {
        padding-bottom: 1%;
        font-size: 0.775rem;
        letter-spacing: 0.1rem;
      }
    }
  }

  .account-body {
    width: 90%;
    margin-top: 4vh;
    min-height: calc(30vh - 115px);

    .content {
      padding: 2%;
      padding-bottom: 1%;
    }

    .text-muted small {
      min-width: 100%;
      font-size: 0.5rem;
    }
  }

  .account-footer {
    width: 90%;
    margin-top: 1vh;
    min-height: calc(15vh - 115px);
  }

}

@media (orientation: landscape) and (height: 320px) {}

@media (width: 667px) and (height: 375px) {

  .account-vue {

    .form-control {
      height: 1.7rem;
      padding: unset;

    }

    .split {

      .split-for-cb {
        width: 8%;
      }

      .split-for-label {
        width: 92%;
      }

    }

    .register-vue {

      .account {
        margin-top: 18vh;
      }

      .account-header {
        margin-top: -44vh;
      }

      .fullpage {
        .footer-vue {
          bottom: unset;
          position: relative;
          z-index: 0;
          padding-right: 2%;
        }

      }
    }

  }

  .account-header {
    width: 90%;
    margin-top: -45vh;

    .title {

      .heading {
        font-size: 1.5rem;
        line-height: 1.5;
      }

    }
  }

  .account-body {
    .text-muted small {

      font-size: 0.55rem;
    }
  }

}

@media (width: 731px) and (height: 411px) {
  .account-vue {

    .form-control {
      height: 1.7rem;
      padding: unset;

    }

    .split {

      .split-for-cb {
        width: 8%;
      }

      .split-for-label {
        width: 92%;
      }
    }

    .register-vue {

      .account-header {
        margin-top: -47vh;
      }

    }

  }

  .account-header {
    margin-top: -45vh;

    .title {

      .heading {
        font-size: 1.5rem;
        line-height: 1.5;
      }

    }
  }

  .account-body {

    .text-muted small {
      font-size: 0.55rem;
    }
  }
}

@media (width: 736px) and (height: 414px) {
  .account-vue {

    .input-group-prepend {
      .fa-base {
        font-size: 13px;
      }
    }

    .split {

      .split-for-cb {
        width: 8%;
      }

      .split-for-label {
        width: 92%;
      }
    }

    .register-vue {

      .account-header {
        margin-top: -47vh;
      }
    }

  }

  .account-header {
    margin-top: -48vh;


    .title {

      .heading {
        font-size: 1.5rem;
        line-height: 1.5;
      }

    }
  }

  .account-body {

    .text-muted small {
      font-size: 0.55rem;
    }
  }

}

@media (width: 812px) and (height: 375px) {
  .account-vue {

    .form-control {
      height: 1.7rem;
      padding: unset;

    }

    .split {

      .split-for-cb {
        width: 8%;
      }

      .split-for-label {
        width: 92%;
      }
    }

    .register-vue {

      .account {
        margin-top: 16vh;
      }

      .account-header {
        margin-top: -45vh;
      }

    }

  }

  .account-header {
    margin-top: -45vh;

    .title {

      .heading {
        font-size: 1.5rem;
        line-height: 1.5;
      }

    }
  }

  .account-body {
    .text-muted small {
      font-size: 0.55rem;
    }
  }

}

@media (width: 823px) and (height: 411px) {
  .account-vue {


    .form-control {
      height: 1.7rem;
      padding: unset;

    }

    .split {
      .split-for-cb {
        width: 8%;
      }

      .split-for-label {
        width: 92%;
      }
    }

    .register-vue {

      .account {
        margin-top: 16vh;
      }

      .account-header {
        margin-top: -45vh;
      }

    }

  }

  .account-header {
    margin-top: -45vh;

    .title {

      .heading {
        font-size: 1.5rem;
        line-height: 1.5;
      }
    }
  }

  .account-body {
    .text-muted small {
      font-size: 0.55rem;
    }
  }

}