$vue-detail-header-color: #efefef;
$vue-detail-header-bg-white: #fff;
$vue-detail-header-bg-grey: #c8c8c8;
$blockquote-color: #515769;
$nav-logo-grey: #515769;
$default-font-color: #bfc1c7;
$default-read-more: #f6f6f6;

$default-white: #ffffff;
$default-background-color:#0b1222;
$default-header-background-color:#091f36;
$default-border-color: #005276;
$default-bottom-border : #d0d6d2;
$default-sub-text: #e6e6e6;
$default-body-background: #fcfcfc;
$default-control-label-bg: #efefef;
$default-required-color: #a0231d;
$default-control-label-color: #bfc1c7;
$default-input-border-color: #dddddd;
$default-btn-hover-color: #515769;
$defautl-foot-border: #f3f3f3;
$default-foot-color: #666;
$default-invalidated-color: #005276;
$default-passed-color: #4d5b3a; //#627159 !important;
$default-failed-color: #d43838;
$default-extended-tab: #dce2d0;
$background-dusk-gradient: linear-gradient(to left top, #0b1222, #091f36, #021236);
$default-hover-color: #ca002e;
$notification-color: #515769;
$input-background-color: #e6e6e6;
$form-control-color: #495057;
$form-control-border-color: #ced4da;
$outline-color: #515769;
$input-hover-border-color: #0b1222;
$input-text-color: #bfc1c7;
$text-muted: #515769;
$fullpage-cover-color: #C8C8C8;

$calendar-today-color: #ffffff;
$calendar-disable-color: #efefef;
$calendar-past-date-color: #4f6f86; //#3f5f76; // #d3d3d3;
$calendar-reserved-color: #B3CFDD;
$calendar-fc-today-bg-day-grid: #3f5f76;
$calendar-fc-today-bg-time-grid: #4f5f76;
$calendar-fc-content-bg-time-item: #3c2020;
$calendar-fc-other-bg-day: #3f5f76;
$calendar-fc-future-bg-day: #3f6f86;