@import "./account.variable.scss";
@import "../sass/checkbox.scss";
@import "./account.helper.scss";


.send-note {
  margin: auto;
  display: block;

  line-height: 1.5;

  -webkit-animation-duration: 1s;

  animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-timing-function: cubic-bezier(0.71, 0.55, 0.62, 1.57);
  animation-timing-function: cubic-bezier(0.71, 0.55, 0.62, 1.57);


}

.send-note-background {
  margin: auto;
  display: block;
  background: $background-dusk-gradient;
  max-width: 90vw;
  min-height: calc(50vh - 115px);
}

.send-note-header {
  margin: auto;
  display: block;
  position: relative;
  text-align: center;
  background: $default-header-background-color;
  max-width: 85vw;
  margin-top: -43vh;
  min-height: calc(10vh - 115px);
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

  .title {
    color: $default-white;
    font-weight: 600;

    .heading {
      margin: auto;
      display: block;
      font-family: Montserrat, serif;
      font-size: 1.6875rem;
      font-weight: 600;
      line-height: 1.5;
    }

    p {
      padding-bottom: 2%;
      font-size: 1rem;
      color: $default-sub-text;
      letter-spacing: 0.3rem;
      text-transform: none;
    }

    .greet {
      font-size: 1.1rem;
      font-weight: 400;
    }

    .greet-sub {
      font-size: .8rem;
      font-weight: 300;
    }
  }

}

.send-note-body {
  margin: auto;
  display: block;
  position: relative;
  max-width: 85vw;
  min-height: calc(35vh - 115px);
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-top: -1.5vh;
  font-size: .8rem;
  padding: 10px;
  color: $default-font-color;

  .content {
    margin: auto;
    display: block;
    position: relative;
    background: $background-dusk-gradient;
    padding-top: 2vh;

    .control-label {
      display: none;
    }

    .data {
      padding: 0.525rem 0.875rem;
    }

    .note {
      color: $default-white
    }

    .form-control {
      color: $input-text-color;
    }



    .text-area {
      color: $default-sub-text;
      background: transparent;
      min-height: 100px;
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;


      &:focus,
      &:hover {
        border-bottom: .0525rem solid $default-input-border-color;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: $input-text-color;
        outline: none;
      }

      &:empty:before {
        content: attr(data-text);
        color: $default-white;
        font-size: x-small;
        text-transform: uppercase;
        letter-spacing: .4em;
      }
    }

    .text-muted {
      color: $text-muted;

      .form-text {
        display: block;
        margin-top: 0.25rem;
      }

      small {
        min-width: 100%;
      }
    }

    .submit {
      padding-left: unset;
      padding-right: unset;

      button[type="submit"] {
        color: $default-white;
        font-weight: unset;
      }
    }

    .bg-muted {
      background: $text-muted;
    }

    .bg-passed {
      background: $default-passed-color;
    }

    input[type="text"]::-webkit-input-placeholder,
    input[type="password"]::-webkit-input-placeholder {
      color: $default-white;
      font-size: x-small;
    }

    input[type="text"]::-moz-placeholder,
    input[type="password"]::-moz-placeholder {
      color: $default-white;
      font-size: x-small;
    }

    input[type="text"]:-ms-input-placeholder,
    input[type="password"]:-ms-input-placeholder {
      color: $default-white;
      font-size: x-small;
    }

    input[type="text"]::-ms-input-placeholder,
    input[type="password"]::-ms-input-placeholder {
      color: $default-white;
      font-size: x-small;
    }

    input[type="text"]::placeholder,
    input[type="password"]::placeholder {
      color: $default-white;
      font-size: x-small;
    }

    input[type="text"]:hover,
    input[type="text"]:focus {
      border-bottom: 1px solid $input-hover-border-color;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: $input-text-color;
      outline: none;
    }

    .fa {
      font-size: 12px;
    }


  }


}


.send-note-footer {
  font-size: .875rem;
  margin: auto;
  position: relative;
  max-width: 85vw;
  margin-top: 2vh;
  min-height: calc(15vh - 115px);

  .link {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $default-hover-color;
    }
  }

  .link-last {
    text-align: right;
  }

  .heading {
    color: $default-white;
    margin-bottom: 4vh;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .3em;
  }

  .required-field {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.875rem;
    color: $default-required-color;
    text-indent: 1.5em;
  }
}

@import "./note-media.scss";